rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Orders/{movie} {
            allow read: if true;
            allow write: if request.auth.token.admin == true;
        }
    match /{document=**} {
						allow read: if request.auth.token.admin == true;
            allow write: if request.auth.token.admin == true;    
            }
  }
}